.App {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
}

.col {
  height: 80%;
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  gap: 0 70px;
}

.Card {
  margin: 0 50px; 
}
